$icon-font-path: '~bootstrap-sass/assets/fonts/bootstrap/';
@import '~bootstrap-sass/assets/stylesheets/bootstrap';
$paleorange: #ffdd9b;
$palepurple: #ad78c0;
$divbackground: #ffdd9b;
$deepblue: #07268d;
$houndstooth1: #8817b0;
$houndstooth2: #fff;
$peagreen: #b2cc00;

a {
  color: $deepblue;
}

body {
  background-image: linear-gradient(45deg, $houndstooth1 1px, transparent 1px), linear-gradient(90deg, $houndstooth2 1px, transparent 1px), linear-gradient(-45deg, $houndstooth1 16px, transparent 16px), linear-gradient(225deg, transparent 13.33333px, $houndstooth2 13.33333px, $houndstooth2 20px, transparent 20px), linear-gradient(45deg, transparent 13.33333px, $houndstooth2 13.33333px, $houndstooth2 20px, transparent 20px), linear-gradient(225deg, $houndstooth2 8px, transparent 8px), linear-gradient(45deg, $houndstooth2 8px, transparent 8px), linear-gradient(0deg, $houndstooth1 20px, transparent 20px), linear-gradient(90deg, $houndstooth2 20px, transparent 20px), linear-gradient(0deg, $houndstooth2 20px, $houndstooth1 20px);
  background-size: 2px 2px, 2px 2px, 40px 40px, 40px 40px, 40px 40px, 40px 40px, 40px 40px, 40px 40px, 40px 40px, 40px 40px;
  box-shadow: 0 0 50px rgba(0, 0, 0, 0.6) inset;
  color: $deepblue;
  min-height: 200%;

}

div {
  padding: 20px 0;
  width: 600px;
  text-align: center;
}

.border {
  margin: 50px;
}

.danface {
  border-radius: 50px;
  height: 300px;
}

nav {
  background-color: $divbackground;
  color: $deepblue;
  margin-top: 100px;
  padding: 20px 0;
  position: fixed;
  text-align: center;
  text-decoration: none;
  width: 75px;
}

.content {
  background: $divbackground;
  margin: 40px auto;
  padding: 20px 0;
}

ul {
  list-style: none;
}

.nav {
  padding: 0;
  width: auto;
}
