$icon-font-path: '~bootstrap-sass/assets/fonts/bootstrap/';
@import '~bootstrap-sass/assets/stylesheets/bootstrap';
$paleorange: #ffdd9b;
$palepurple: #ad78c0;
$divbackground: #ffdd9b;
$deepblue: #07268d;
$houndstooth1: #8817b0;
$houndstooth2: #fff;
$peagreen: #b2cc00;
@import url('https://fonts.googleapis.com/css?family=Merriweather|Poiret+One');

a {
  color: $deepblue;
}

.container-fluid {
  margin: 0 auto;
  padding: 0;
}

body {
  background-attachment: fixed;
  background-image: url('../green_pastel_plaid.jpg');
  color: $deepblue;
  font-family: 'Poiret One', cursive;
  font-weight: 600;
  margin-top: 75px;
  min-height: 200%;
  padding: 0 20px;
  text-align: center;
}

.title {
  float: left;
  margin: 20px;
}

.padding {
  padding: 20px 0;
}

.content {
  background: $divbackground;
  padding: 20px;
}

.about {
  font-size: 1.25em;
  padding: 20px;
}

.danface {
  border-radius: 50px;
  height: 300px;
}

nav {
  background-color: $divbackground;
  color: $deepblue;
  text-align: right;
  text-decoration: none;
}

ul {
  list-style-type: none;
  margin: 0;
  padding: 0;
}

.nav-list {
  float: right;
  margin: 20px;
}

.project {
  float: left;
  height: 300px;
  margin: 4px;
  overflow-x: scroll;
  padding: 4px;
  width: 32%;
}

.description {
  text-align: center;
}

.screenshot {
  height: 200px;
}

.repo-space {
  margin-top: 1em;
}

.underline {
  text-decoration: underline;
}

.contact-me {
  padding: 0 10px;
  text-align: center;
}


.skills {
  margin: 0 auto;
  padding: 10px;
  text-align: center;
  width: 100px;
}
